body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #444;
    color: #fff;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.3s ease; /* Smooth transition */
    transform: translateX(-100%); /* Initially hide menu */
}

.side-menu.show {
    transform: translateX(0); /* Slide in from the left */
}
.side-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
}
.project{
    margin-top: 30%;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust based on header height */
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.main-content h1 {
    font-size: 2rem;
    margin: 0;
}

.main-content p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2%;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social-media {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 1px; /* Adjust as needed for spacing */
    /* margin-bottom: 30px; */
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    transform: translateY(-5px); /* Move links slightly up */
    transition: transform 0.3s ease; /* Smooth transition */
}

.social-media a:hover {
    transform: translateY(-10px); /* Lift more on hover */
}


@media (max-width: 600px) {
    .main-content h1 {
        font-size: 1.5rem;
    }
    .main-content p {
        font-size: 1rem;
    }
}

.hamburger-menu {
    position: fixed;
    top: 5px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger-menu .bar {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s; /* Smooth transition for bars */
    border-radius: 10px;
}

.hamburger-menu.clicked .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger-menu.clicked .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.clicked .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}
.name-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 2.5rem;
    height: 50px;
}

.first-name, .last-name {
    position: absolute;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.first-name {
    left: 0;
    animation-name: move-left;
}

.last-name {
    right: 0;
    animation-name: move-right;
}

@keyframes move-left {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 1%;
        opacity: 1;
        transform: translateX(100%);
    }
}

@keyframes move-right {
    0% {
        right: 0;
        opacity: 0;
    }
    100% {
        right: 1%;
        opacity: 1;
        transform: translateX(-85%);
    }
}
