/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure body takes full height */
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Main content styling */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.name-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 2.5rem;
}

.subname {
    margin-bottom: 50px;
}

.first-name, .last-name {
    position: absolute;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.first-name {
    right: 0;
    animation-name: move-right;
}

.last-name {
    left: 0;
    animation-name: move-left;
}

/* Keyframes for animations */
@keyframes move-left {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 8.5%;
        opacity: 1;
        transform: translateX(100%);
    }
}

@keyframes move-right {
    0% {
        right: 0;
        opacity: 0;
    }
    100% {
        right: 8.5%;
        opacity: 1;
        transform: translateX(-85%);
    }
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        width: 100%;
    }

    .menu.show {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }

    .name-container h1 {
        font-size: 1.8rem; /* Smaller size for mobile */
    }

    .first-name, .last-name {
        animation-duration: 2s;
        font-size: 1.8rem;
    }

    @keyframes move-left {
        0% {
            left: 0;
            opacity: 0;
        }
        100% {
            left: 15%;
            opacity: 1;
            transform: translateX(100%);
        }
    }

    @keyframes move-right {
        0% {
            right: 0;
            opacity: 0;
        }
        100% {
            right: 15%;
            opacity: 1;
            transform: translateX(-100%);
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu a {
        font-size: 1rem;
    }

    .name-container h1 {
        font-size: 2.2rem;
    }

    .first-name, .last-name {
        animation-duration: 2s;
        font-size: 2.2rem;
    }

    @keyframes move-left {
        0% {
            left: 0;
            opacity: 0;
        }
        100% {
            left: 10%;
            opacity: 1;
            transform: translateX(100%);
        }
    }

    @keyframes move-right {
        0% {
            right: 0;
            opacity: 0;
        }
        100% {
            right: 10%;
            opacity: 1;
            transform: translateX(-100%);
        }
    }
}

@media (min-width: 1024px) {
    .menu a {
        font-size: 1.2rem;
    }

    .name-container h1 {
        font-size: 2.5rem;
    }

    .first-name, .last-name {
        animation-duration: 2s;
        font-size: 2.5rem;
    }
}
